{% extends 'base.html.twig' %}


{% block body %}

<h1 class="text-center mt-5 mb-5"> Les conditions générales du site joboardsearch </h1>
<div class="container bg-light p-5" style="background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #FFB88C, #DE6262);">

    <h2 class="bg-secondary text-light mt-5 mb-5 p-2 text-center"> Hebergement </h2>
    <p class="h4"> <a href="https://www.ionos.fr/" target="_blank" class="text-dark h4"> <span style="color:blue;">Ionos </span></a>1&1 Internet SARL </p>
    <p class="h4"> 7, place de la Gare, BP 70109,57200 Sarreguemines Cedex</p>
    <p class="h4"> téléphone : 0970 808 911</p>

    <h2 class="bg-secondary text-light mt-5 mb-5 p-2 text-center">Crédits Photos et illustrations </h2>
    <p class="h4"> <a href="https://pixabay.com/fr/" target="_blank" class="text-dark h4"> <span style="color:blue;">Pixabay.com </span></a> : un site web de partage photos, illustrations, images vectorielles et clips vidéos libres de droits </p>

    <h2 class="bg-secondary text-light mt-5 mb-5 p-2 text-center">Liens Hypertextes</h2>
    <p class="h4">  
    Etablissement de liens hypertextes
    Tout site public ou privé est autorisé à établir un lien hypertexte sur la page d’accueil du site <a href="Le site https://joboardsearch.natline.fr" target="_blank" class="text-dark h4"> <span style="color:blue;"> JobordSearch </span> </a>. Le site utilisateur ne doit pas faire apparaître le site <a href="Le site https://joboardsearch.natline.fr" target="_blank" class="text-dark h4"> <span style="color:blue;"> JobordSearch </span> </a> comme étant le sien, ou en dénaturer les contenus.
    </p>

    <h2 class="bg-secondary text-light mt-5 mb-5 p-2 text-center">Développement</h2>
    <P class="h4"> <a href="Le site https://joboardsearch.natline.fr" target="_blank" class="text-dark h4"> <span style="color:blue;"> JobordSearch </span> </a> a été conçu par 3 développeurs : Sihem, Nathalie, et Sahby </P>
    
    <h2 class="bg-secondary text-light mt-5 mb-5 p-2 text-center"> RGPD : Le règlement général sur la protection des données </h2>
    <p class="h4"> Utilisateur : Internaute se connectant, utilisant le site susnommé : <a href="Le site https://joboardsearch.natline.fr" target="_blank" class="text-dark h4"> <span style="color:blue;"> JobordSearch </span> </a>
    En France, les données personnelles sont notamment protégées par la loi n° 78-87 du 6 janvier 1978, la loi n° 2004-801 du 6 août 2004, l’article L. 226-13 du Code pénal et la Directive Européenne du 24 octobre 1995.<br><br>

    Sur le site <a href="Le site https://joboardsearch.natline.fr" target="_blank" class="text-dark h4"> <span style="color:blue;"> JobordSearch </span> </a>, le proprietaire du site ne collecte des informations personnelles relatives à l’utilisateur que pour le besoin de certains services proposés par le site <a href="Le site https://joboardsearch.natline.fr" target="_blank" class="text-dark h4"> <span style="color:blue;"> JobordSearch </span> </a>. L’utilisateur fournit ces informations en toute connaissance de cause, notamment lorsqu’il procède par lui-même à leur saisie. Il est alors précisé à l’utilisateur du site <a href="Le site https://joboardsearch.natline.fr" target="_blank" class="text-dark h4"> <span style="color:blue;"> JobordSearch </span> </a> l’obligation ou non de fournir ces informations.<br><br>

    Conformément aux dispositions des articles 38 et suivants de la loi 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, tout utilisateur dispose d’un droit d’accès, de rectification, de suppression et d’opposition aux données personnelles le concernant. Pour l’exercer, adressez votre demande à <a href="Le site https://joboardsearch.natline.fr" target="_blank" class="text-dark h4"> <span style="color:blue;"> JobordSearch </span> </a> par email : <a class="h4" href="mailto:joboardsearch@gmail.com"><span style="color:blue;"> joboardsearch@gmail.com </span></a>  ou en effectuant sa demande écrite et signée, accompagnée d’une copie du titre d’identité avec signature du titulaire de la pièce, en précisant l’adresse à laquelle la réponse doit être envoyée. <br><br>

    Aucune information personnelle de l’utilisateur du site <a href="Le site https://joboardsearch.natline.fr" target="_blank" class="text-dark h4"> <span style="color:blue;"> JobordSearch </span> </a> n’est publiée à l’insu de l’utilisateur, échangée, transférée, cédée ou vendue sur un support quelconque à des tiers. <br> </p>

    <h2 class="bg-secondary text-light mt-5 mb-5 p-2 text-center"> Déclaration à la cnil </h2>
    <p class="h4 mb-5">  Conformément à la loi 78-17 du 6 janvier 1978 (modifiée par la loi 2004-801 du 6 août 2004 relative à la protection des personnes physiques à l'égard des traitements de données à caractère personnel) relative à l'informatique, aux fichiers et aux libertés, ce site n'a pas fait l'objet d'une déclaration auprès de la Commission nationale de l'informatique et des libertés. <br> <a href="https://cnil.fr" target="_blank" class="text-dark h4"> <span style="color:blue;">cnil.fr</span></a> </p>

   


  

    





</div>


{% endblock %}
