{% extends 'base.html.twig' %}


{% block body %}

<h1 class="text-center mt-5 mb-5"> Les conditions générales du site jobboardsearch </h1>
<div class="container bg-light p-5">

    <h2 class="bg-secondary text-light mt-5 mb-5 p-2"> Hebergement </h2>
    <p class="h4"> <a href="https://www.ionos.fr/" target="_blank" class="text-dark h4"> <span style="color:blue;">Ionos </span></a>1&1 Internet SARL </p>
    <p class="h4"> 7, place de la Gare, BP 70109,57200 Sarreguemines Cedex</p>
    <p class="h4"> téléphone : 0970 808 911</p>

    <h2 class="bg-secondary text-light mt-5 mb-5 p-2">Crédits Photos et illustrations </h2>
    <p class="h4"> <a href="https://pixabay.com/fr/" target="_blank" class="text-dark h4"> <span style="color:blue;">Pixabay.com </span></a> : un site web de partage photos, illustrations, images vectorielles et clips vidéos libres de droits </p>

    <h2 class="bg-secondary text-light mt-5 mb-5 p-2">Développement</h2>
    <P class="h4"> <a href="Le site ttps://joboardsearch.natline.fr" target="_blank" class="text-dark h4"> <span style="color:blue;"> JobordSearch </span> </a> a été conçu par 3 développeurs : Sihem, Nathalie, et Sahby </P>
    
    <h2 class="bg-secondary text-light mt-5 mb-5 p-2"> RGPD : Le règlement général sur la protection des données </h2>
    <p class="h4"> Règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016, relatif à la protection des personnes physiques à l'égard du traitement des données à caractère personnel et à la libre circulation de ces données, et abrogeant la directive 95/46/CE (règlement général sur la protection des données). <br> <a href="https://cnil.fr" target="_blank" class="text-dark h4"> <span style="color:blue;">cnil.fr</span></a> </p>

    <h2 class="bg-secondary text-light mt-5 mb-5 p-2"> Déclaration à la cnil </h2>
    <p class="h4 mb-5">  Conformément à la loi 78-17 du 6 janvier 1978 (modifiée par la loi 2004-801 du 6 août 2004 relative à la protection des personnes physiques à l'égard des traitements de données à caractère personnel) relative à l'informatique, aux fichiers et aux libertés, ce site n'a pas fait l'objet d'une déclaration auprès de la Commission nationale de l'informatique et des libertés. <br> <a href="https://cnil.fr" target="_blank" class="text-dark h4"> <span style="color:blue;">cnil.fr</span></a> </p>


  

    





</div>


{% endblock %}
