/* général */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.flex{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.bg_jaune{
    background-image: radial-gradient(circle, #ead956, #e8c248, #e5ac3d, #df9637, #d78033);
}

.bg_gris{
    background-color: rgb(214, 211, 209);
}

/* fin général */


/* header  */

.logo{ 
    width: 300px;
    align-items: center;
}

.nav-link{ /* navbar */
    font-size: 25px;
    margin: 5px 30px;
}
/* fin header  */


/* footer */
a {
    color:black;
    font-size: 15px;
}

.text-uppercase{
    font-size: 15px;
}
/* fin footer */

