{% extends 'base.html.twig' %}

{% block title %}Hello CardsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>DASHBOARD ! ✅</h1>

<<<<<<< HEAD

=======
>>>>>>> 68290dd5ac2b8cf0da3f7336cf86fa0ac21b1fe3
    <section>
        <div class="choice">
            <p draggable='true'>Mes Candidatures</p>
        </div>
<<<<<<< HEAD
        <div class="tabindex" tabindex="-1" role="group" style="outline: none;">
=======
>>>>>>> 68290dd5ac2b8cf0da3f7336cf86fa0ac21b1fe3

    <hr>

    <div class="dashboardBody row">
        <div class="col-md-3">
            <div class="dashboardColumn brouillon">
                <div class="dashboardColumnTitle">
                    <span><i class="fa fa-long-arrow-alt-right"></i> Je vais postuler <span
                            class="dashboardCandidatureCount">(0)</span>
                    </span>
                </div>
                <div type="0" class="newCandidatureButton"><strong>+</strong> Ajouter une candidature</div>
                <div class="dashboardColumnContainer" style="min-height: auto;">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dashboardColumn candidature">
                <div class="dashboardColumnTitle"><span>
                        <i class="fa fa-check"></i> J'ai postulé <span class="dashboardCandidatureCount">(0)</span>
                    </span>
                </div>
                <div type="1" class="newCandidatureButton"><strong>+</strong> Ajouter une candidature</div>
                <div class="dashboardColumnContainer" style="min-height: auto;">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dashboardColumn relance">
                <div class="dashboardColumnTitle"><span>
                        <i class="fa fa-share"></i> J'ai relancé <span class="dashboardCandidatureCount">(0)</span>
                    </span>
                </div>
                <div type="2" class="newCandidatureButton"><strong>+</strong> Ajouter une candidature</div>
                <div class="dashboardColumnContainer" style="min-height: auto;">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dashboardColumn entretien">
                <div class="dashboardColumnTitle">
                    <span><i class="fa fa-comment-dots"></i> J'ai un entretien <span
                            class="dashboardCandidatureCount">(0)</span>
                    </span>
                </div>
                <div type="3" class="newCandidatureButton"><strong>+</strong> Ajouter une candidature</div>
                <div class="dashboardColumnContainer" style="min-height: auto;">
                </div>
            </div>
        </div>
    </div>
</div>
</div>




</div>
{% endblock %}
