{% extends 'base.html.twig' %}

{% block title %}Hello CardsController!{% endblock %}

{% block body %}
 
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



    <div class="text-center">
        <h1>Mes candidatures ! ✅</h1>
    </div>
    <hr>
    <hr>
    <div class="tabindex" tabindex="-1" role="group" style="outline: none;">

        <div class="dashboardBody row">
            <div class="col-md-3">
                <div class="dashboardColumn brouillon">
                    <div class="dashboardColumnTitle">
                        <span>
                            <i class="fa fa-long-arrow-alt-right"></i> Je vais postuler 
                            <span class="dashboardCandidatureCount">(0)</span>
                        </span>
                    </div>
                    <div type="0" class="newCandidatureButton"><strong>+</strong> Ajouter une candidature
                    </div>
                <div class="dashboardColumnContainer" style="min-height: 255px;">
                    <div data-react-beautiful-dnd-draggable="4" tabindex="0" data-react-beautiful-dnd-drag-handle="4" 
                         aria-roledescription="Draggable item. Press space bar to lift" draggable="false">
                        <div class="card" style="width: 27rem;">
                            <div class="dashboardCards">
                                <h5 class="card-title">TITRE : </h5>
                                <p class="card-text">Description : </p>
                                <p class="card-text">Téléphone : </p>
                                <p class="card-text">Adresse : </p>
                                <p class="card-text">Ville : </p>
                                <p class="card-text">Email : </p>
                                <a href="#" class="btn btn-primary">Voi plus</a>
                            </div>
                        </div>
                        <div type="0" class="newCandidatureButton"><strong>+</strong><a href="{{ ('candidature') }}"> Ajouter une candidature </a></div>
                        <div class="dashboardColumnContainer" style="min-height: 538px;"></div>
                    </div>
                </div>
                    <div  class="dashboardColumnContainer" style="min-height: 538px;">
                    </div>
                </div>
            </div>

            <div class="col-md-3">

                <div class="dashboardColumn candidature">
                    <div class="dashboardColumnTitle">
                         <span>
                            <i class="fa fa-check"></i> J'ai postulé 
                            <span class="dashboardCandidatureCount">(0)</span>
                        </span>
                    </div>
                    <div type="1" class="newCandidatureButton"><strong>+</strong> Ajouter une candidature</div>

                <div class="col-md-3">
                    <div class="dashboardColumn candidature">
                        <div class="dashboardColumnTitle">
                            <span>
                                <i class="fa fa-check"></i> J'ai postulé 
                                <span class="dashboardCandidatureCount">(0)</span>
                            </span>
                        </div>
                        <div type="1" class="newCandidatureButton"><strong>+</strong> <a href="{{ ('candidature') }}"> Ajouter une candidature </a></div>
                        <div class="dashboardColumnContainer" style="min-height: 538px;"></div>
                    </div>
            </div>

                <div class="col-md-3">

                    <div class="dashboardColumn relance">
                        <div class="dashboardColumnTitle">
                            <span>
                                <i class="fa fa-share"></i> J'ai relancé 
                                <span class="dashboardCandidatureCount">(0)</span>
                            </span>
                        </div>
                        <div type="2" class="newCandidatureButton"><strong>+</strong><a href="{{ ('candidature') }}"> Ajouter une candidature </a></div>
                        <div class="dashboardColumnContainer" style="min-height: 538px;"></div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="dashboardColumn entretien">
                        <div class="dashboardColumnTitle">
                            <span>
                            <i class="fa fa-comment-dots"></i> La rencontre du Boss<span class="dashboardCandidatureCount">(0)</span>
                            </span>
                        </div>
                        <div type="3" class="newCandidatureButton"><strong>+</strong><a href="{{ ('candidature') }}"> Ajouter une candidature </a></div>
                        <div class="dashboardColumnContainer" style="min-height: 538px;">
                        </div>
                    </div>
                </div>
        </div>
    </div>


{% endblock %}
