{% extends 'base.html.twig' %}

{% block title %}Détail de la carte{% endblock %}

{% block body %}
    <h1>detail card</h1>

    {{ include('card/_form.html.twig', {'button_label': 'Modifier'}) }}

    

{% endblock %}
