{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}


{% block body %}
       


  <div class="container">
    
    <h2 class="mt-5 text-center bg-secondary text-light"> Mes coordonnées </h2>

    <p class="m-4">Nom de famille : {{utilisateur.nom }} </p>
    <p class="m-4">Prénom : {{utilisateur.prenom }}</p>
    <p class="m-4">Email : {{utilisateur.email }}</p>
    <p class="m-4">Avatar : {{utilisateur.photo }}</p> 


 </div>


{% endblock %}
