{% extends 'base.html.twig' %}

{% block stylesheets %} 
 <link rel="stylesheet" href="{{asset('css/contact.css')}}">
{% endblock %} 



{% block body %}
 
 <div class="text-center p-2 mb-4">
        <h1>La Team JoBoardSearch !</h1>
</div>
    <div class="d-flex flex-column flex-md-row justify-content-center ">
   
                <div class="m-2">
               
                    <div class="profile-card-4 text-center">
                        <div class="content-img1">
                        <img style="witdh:80px,height:80px" src="{{ asset('img/Nathalie.png') }}" class="img img-responsive">
                        </div>
                        <div class="profile-content">
                            <div class="profile-name">Nathalie
                                    <p>Comme un poisson dans l'eau</p>
                            </div>
                            <div class="profile-description">
                            Minucieuse dans ses approches et toujours prête à échanger ses idées.
                            </div>
                            <div class="row justify-content">
                                <div class="col-4">
                                        <div class="profile-overview">
                                            <p>COMMIT</p>
                                            <h4>12000</h4>
                                        </div>
                                </div>
                                <div class="col-4">
                                        <div class="profile-overview">
                                            <p>PULL</p>
                                            <h4>2367</h4>
                                        </div>
                                </div>
                                <div class="col-4">
                                        <div class="profile-overview">
                                            <p>PUSH</p>
                                            <h4>597</h4>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
    
     
      
            <div class="m-2">
               
                    <div class="profile-card-4 text-center">
                        <div class="content-img2">
                        <img src="{{ asset('img/avatar.png') }}" class="img img-responsive">
                        </div>
                        <div class="profile-content">
                            <div class="profile-name">Sahby
                                    <p>Yoda</p>
                            </div>
                            <div class="profile-description">
                            La force tranquille du groupe, il garde toujours le cap.
                            </div>
                            <div class="row justify-content">
                                <div class="col-4">
                                        <div class="profile-overview">
                                            <p>COMMIT</p>
                                            <h4>14000</h4>
                                        </div>
                                </div>
                                <div class="col-4">
                                        <div class="profile-overview">
                                            <p>PULL</p>
                                            <h4>250</h4>
                                        </div>
                                </div>
                                <div class="col-4">
                                        <div class="profile-overview">
                                            <p>PUSH</p>
                                            <h4>168</h4>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
    
       
            <div class="m-2">
               
                    <div class="profile-card-4 text-center">
                        <div class="content-img1">
                        <img src="{{ asset('img/avatar3.png') }}" class="img img-responsive">
                        </div>
                        <div class="profile-content">
                            <div class="profile-name">Sihem
                                    <p>La sportive</p>
                            </div>
                            <div class="profile-description">
                            Dynamique elle n'hésite pas à sprinter sur la dernière ligne droite.
                            </div>
                            <div class="row justify-content">
                                <div class="col-4">
                                        <div class="profile-overview">
                                            <p>COMMIT</p>
                                            <h4>1300</h4>
                                        </div>
                                </div>
                                <div class="col-4">
                                        <div class="profile-overview">
                                            <p>PULL</p>
                                            <h4>250</h4>
                                        </div>
                                </div>
                                <div class="col-4">
                                        <div class="profile-overview">
                                            <p>PUSH</p>
                                            <h4>168</h4>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <hr>

        <div class="card text-center">
            <div class="card-body">
                <img src="img/contact_mail-24px.svg"><br>
                <p>joboardsearch@gmail.com</p>
                <a href="mailto:joboardsearch@gmail.com" class="btn btn-primary">Contactez-nous !</a>
            </div>
        </div>
</div>

{% endblock %}
