{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; background-color: bisque;}
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 class="text-center">La Team JoBoardSearch !</h1>

        <div class="row">
            <div class="col-sm-6">
                <div class="card text-center">
                    <div class="card-body">
                        <img class="card-img-top" src="img/avatar_female.png" alt="Card image cap">
                        <h5 class="card-title">Sihem</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card text-center">
                    <div class="card-body">
                        <img class="card-img-top" src="img/avatar_female.png" alt="Card image cap">
                        <h5 class="card-title">Nathalie</h5>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card text-center">
                    <div class="card-body">
                        <img class="card-img-top" src="img/avatar_male.png" alt="Card image cap">
                        <h5 class="card-title">Aymrick</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card text-center">
                    <div class="card-body">
                        <img class="card-img-top" src="img/avatar_male.png" alt="Card image cap">
                        <h5 class="card-title">Sahby</h5>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="card text-center">
            <div class="card-body">
                <img src="img/contact_mail-24px.svg"><br>
                <p>joboardsearch@gmail.com</p>
                <a href="mailto:joboardsearch@gmail.com" class="btn btn-primary">Contactez-nous !</a>
            </div>
        </div>
</div>
{% endblock %}
